:root {
  --primaryColor: hsl(205, 95%, 40%);
  --textColor: hsl(0, 0%, 100%);
  --darkText: hsl(210, 11%, 15%);
  --lessDarkText: hsl(204, 9%, 34%);
}

.navbar-container {
  width: 90%;
  max-width: 75rem;
  height: 5rem;
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(209, 71%, 92%);
}
.website-logo {
  width: 15rem;
  object-fit: cover;
  height: 70px;
}
.nav-link-container{
  display: flex;

}
.nav-menu-container {
  position: absolute;
  top: 6.5rem;
  right: 0rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: calc(100vh + 5rem);
  min-width: 15rem;
  background: rgb(45, 45, 45);
  border-radius: .5rem;
  margin-right: 2rem;
}
.nav-menu-link {
  color: var(--textColor);
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 5px;
  background: rgb(30, 30, 30);
}
.mobile-menu-icon {
  display: none;
  object-fit: cover;
  height: 3rem;
  cursor: pointer;
}
.nav-link {
  margin: 1rem;
  cursor: pointer;
  padding: .5rem;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: var(--darkText);
  transition: 0.5s ease;
}
.nav-link:hover {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}
.nav-get-started-button {
  text-align: center;
  margin: 0;
  background: var(--primaryColor);
  padding: 10px 20px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  border: none;
  letter-spacing: 1px;
}

.nav-get-started-link {
  text-decoration: none;
  color: var(--textColor);
}

@media (max-width: 1000px) {
  .website-logo {
    width: 12rem;
  }
  .nav-get-started-button {
    padding: 8px 16px;
    font-size: 12px;
  }
    .nav-link {
      font-size: 16px;
      font-weight: 500;
      margin: 0.5rem;
    }
}

@media (max-width: 790px) {
  .mobile-menu-icon {
    display: flex;
  }
  .nav-link-container {
    display: none;
  }
  .nav-get-started-button {
    display: none;
  }
    .website-logo {
      width: 14rem;
    }
}

@media (max-width: 400px) {
  .mobile-menu-icon {
    height: 1.8rem;
  }
  .website-logo {
   width: 8rem;
  }
}
@media (max-width: 230px) {
    .mobile-menu-icon {
        height: 1rem;
      }
    
      .website-logo {
        width: 6rem;
      }
}