.client-FAQ-section {
  margin: 4rem auto;
  width: 90vw;
}
.client-FAQ-header-container {
  text-align: center;
  margin-bottom: 4rem;
}
.small-text-header {
  margin-bottom: 2rem;
  letter-spacing: 4px;
  font-weight: 400;
}
.FAQ-header {
  font-size: 3rem;
}
.client-FAQ-answer-container {
  width: 80%;
  margin: auto;
}
.content-main-section {
  border-bottom: 1px solid hsl(0, 0%, 28%);
  padding-bottom: 8px;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}
.client-FAQ-header {
  font-weight: 600;
}
.addImage {
  width: 3rem;
  cursor: pointer;
}
.faq-answer-text {
  font-size: 1rem;
  color: #50595f;
  margin: .5rem;
}

@media (max-width: 365px) {
  .FAQ-header {
    font-size: 2rem;
  }
  .client-FAQ-header {
    font-weight: 600;
    font-size: 1rem;
  }
  .addImage {
    width: 2rem;
  }
}
