:root {
  --primaryColor: hsl(205, 95%, 40%);
  --textColor: hsl(0, 0%, 100%);
}
.footer-page {
  background: hsl(209, 71%, 92%);
  padding-top: 1rem;
}
.footer-section {
  text-align: center;
  height: 30rem;
  width: 90%;
  margin: auto;
}

.location-services-newsletter-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid hsl(0, 4%, 76%);
  padding-bottom: 5rem;
  margin: 5rem auto 0;
}


.footer-location-container,
.footer-newsletter-container {
  text-align: start;
  padding: 1rem;
  overflow: hidden;
  max-width: 30rem;
}

.footer-services-container {
  padding: 1rem 3rem;
}
.blue-print-logo {
  width: 100%;
  height: 4.5rem;
  object-fit: cover;
  margin-left: -4rem;
}
.company-phone-number {
  font-size: 2rem;
  margin-bottom: 8px;
}
.newsletter-title {
  margin-bottom: 1rem;
}
.newsletter-paragraph {
  margin-bottom: 1rem;
}
.email-input {
  padding: .65rem;
  margin-right: .5rem;
  width: 15rem;
  border: 1px solid gainsboro;
}
.email-input::placeholder {
  font-family: inherit;
}
.subscribe-btn {
  padding: .65rem 2.5rem;
  border: none;
  font-weight: 500;
  color: var(--textColor);
  background: var(--primaryColor);
  cursor: pointer;
}
.service-link {
  text-decoration: none;
  color: #212529;
}
.service-link-paragraph {
  margin: 1rem;
}
.footer-text {
  margin: 1rem;
}