.services-offered-section {
  width: 90%;
  margin: 4rem auto;
}
.service-container {
  margin: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-container {
  width: auto;
}
.service-title-text {
  font-weight: 500;
  margin-top: 1.5rem;
}
.service-header {
  font-size: 2.81rem;
  color: #212529;
  margin-bottom: 1rem;
}
.services-offered-container {
  margin: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.service-div {
  background-color: hsl(209, 71%, 92%);
  margin: 1rem;
  width: 20rem;
  border-radius: 1rem;
  min-height: 25rem;
  height: fit-content;
  overflow: hidden;
  /* transition: transform 0.4s ease; */
}

.service-image {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  transition: transform 0.4s ease;
}
.service-div:hover .service-image {
  transform: scale(1.15);
}
.content-container {
  padding: 1rem;
  margin-bottom: 1rem;
}

.service-title {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 700;
}
.service-text {
  margin-bottom: 2rem;
  color: #50595f;
}

.detail-link-tag {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  background: hsl(210, 11%, 15%);
  transition: 0.5s ease;
}
.detail-link-tag:hover {
  background: hsl(210, 11%, 25%);
}


@media (max-width: 1262px) {
  .service-div {
    width: 40%;
   }
}
@media (max-width: 855px) {
  .service-div {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .service-title {
    font-size: 15px;
  }
}