*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  background: hsl(0, 100%, 100%);
  font-family: 'syne', sans-serif;
}

:root {
  --primaryColor: hsl(205, 95%, 40%);
  --textColor: hsl(0, 0%, 100%);
}