:root {
  --primaryColor: hsl(205, 95%, 40%);
  --hoverPrimaryColor: hsl(205, 95%, 30%);
  --textColor: hsl(0, 0%, 100%);
}
.testimony-section {
  background: hsl(209, 71%, 92%);
  width: 90%;
  padding: 5rem 1rem 2rem;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonial-title-container {
  width: 30%;
  height: max-content;
  padding-bottom: 2rem;
  margin-right: 1.5rem;
}
.testimonial-header {
  margin-bottom: 2rem;
}
.testimonial-title {
  margin-bottom: 2.5rem;
  font-size: 3rem;
}
.testimonial-paragraph-text {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}
.learn-more-link {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  background: var(--primaryColor);
  transition: 0.5s ease;
}
.learn-more-link:hover {
  background: var(--hoverPrimaryColor);
}


.testimonial-container {
  background: #fff;
  border-radius: 5px;
  width: 45%;
  padding: 1.5rem;
   margin: 1rem;
  height: max-content;
  min-height: 20rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
.user-profile-image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  margin-right: 1rem;
}
.testimonial-content-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.testimonial-text-paragraph {
  margin-bottom: 1rem;
}
.user-profile-container {
  display: flex;
}

@media (max-width: 1232px) {
  .testimonial-title-container {
    width: 100%;
  }
}
@media (max-width: 755px) {
  .testimonial-container {
    width: 100%;
  }
}